.first_container{
	padding-left:10px;
	padding-right:10px;
	
}

h1 {
  background-color: white;
  font-family: sans-serif;
  font-weight: 200;
  position: absolute;
  text-align: center;
  display: block;
  color: black;
  top: 10px;
  width: 99%;
  margin-top: -55px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 0;
  -webkit-animation: anim 3.2s ease-out forwards 1s;
  animation: anim 3.2s ease-out forwards 1s;
}
.we_are {
  display: block;
  font-weight: 400;
}

.school {
  background-color: white;
  font-family: sans-serif;
  font-weight: 8;
  position: absolute;
  text-align: center;
  display: block;
  color: black;
  top: 85%;
  width: 99%;
  margin-top: -5px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 0;
  -webkit-animation: anim 3.2s ease-out forwards 1s;
  animation: anim 3.2s ease-out forwards 1s;
}


@-webkit-keyframes anim {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg);
  }
  75% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) translateZ(60px);
  }
  100% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    letter-spacing: 8px;
    -webkit-transform: rotateY(0deg) translateZ(100px);
  }

}
@keyframes anim {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -moz-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg);
  }
  75% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg) translateZ(60px);
  }
  100% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    letter-spacing: 8px;
    -moz-transform: rotateY(0deg) translateZ(100px);
  }

}

.slogan {
	float:right;
	text-align: center;
    position: absolute;
    top:calc(50% - 25px);
    color: black;
    width:50%;
}

.action {
	text-align: right;
    position: absolute;
    top:calc(50% - 25px);
    left:calc(100% - 75px);
    color: black;
}

h4 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 0.9em;
	line-height: 3em;
}

.join_us{
    position: absolute;
    top:calc(50% - 50px);
	left:calc(50% - 50px);
}

#main_button{
	display:block;
	width:100px;
	height:100px;
	border-radius:50px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
	text-decoration:none;
	background:#252527;
}
#main_button:hover{
	color:white;
	text-decoration:none;
	background:red;
}
